*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(135deg, #153677,  #4e085f); */
    padding: 50px;
    /* background: linear-gradient(135deg, #91325b,  #5a0d70); */
    background-image: url(../images/Media\ \(5\).jpg);
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.todo-app{
    background-color: white;
    color: rgb(70, 70, 70);
    width: min(95vw, 500px);
    max-width: 450px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
}
.todo-app h2{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    position: relative;
    display: grid;
    grid-template-columns: 9fr 3fr;
}
input{
    width: 100%;
    background-color: transparent  ;
    font-size: 20px;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #d1d3d4;
    padding: 6px 10px;
}
.row input:hover{
    outline: none;
    border-color: #071531;
}
.add{
    background-color: #ff5945;
    color: white;
    border: none;
    outline: none;
    padding: 12px 15px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 30px;
    
}
.delete{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    width: 30px ;
    padding: 5px 0;
    float: right;
}
.delete img {
    width: 15px;
    height:15px;
}


ul li{
    list-style: none;
    font-size: 17px;
    padding: 15px 50px;
    position: relative;
    cursor: pointer;
}
ul li span{
    position: absolute;
    right: 0;
    top: 18px;
    width: 20px;
    height: 20px;
    line-height: 15px;
    text-align: center;
    border-radius: 30px;
    font-size: 25px;
}
ul li span:hover{
    background-color: #dedede;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../images/checkbox.png);
    background-size: cover;
    top: 12px;
    left: 8px;
}
.checked{
    color: #555;
    text-decoration: line-through;
}
.checked::before{
    background-image: url(../images/checked.png);
}

@media only screen and (max-width="600px"){
    .todo-app{
        width: 100%;
    }
    button{
        width: 10px;
    }
    .container{
        background-position: left;
    }
}






